.about {
  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-bottom: 30px;
  }
}

.about__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 50px;
  }
}

.about__list-text {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__title {
  margin-bottom: 28px;
}

.about__item {
  position: relative;

  padding-top: 55px;
  margin-bottom: 20px;

  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-right: 35px;
  }
}

.about__item::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 55px;
  height: 38px;

  background-color: @skyblue;
  content: "";
}
