.about {
  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-bottom: 30px;
  }
}

.about__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 50px;
  }
}

.about__list-text {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__title {
  margin-bottom: 28px;
}

.about__item {
  position: relative;

  padding-top: 55px;
  margin-bottom: 20px;

  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-right: 35px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 38px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }

  &--flower::after {
    background-image: url("../img/svg_icon/about/flower.svg");
  }

  &--money::after {
    background-image: url("../img/svg_icon/about/money.svg");
  }

  &--like::after {
    background-image: url("../img/svg_icon/about/like.svg");
  }

  &--tangle::after {
    background-image: url("../img/svg_icon/about/tangle.svg");
  }

  &--rocket::after {
    background-image: url("../img/svg_icon/about/rocket.svg");
  }

  &--gift::after {
    background-image: url("../img/svg_icon/about/gift.svg");
  }
}
