.catalog__list {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    gap: 51px;
    justify-content: space-between;
    width: 100%;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 31px;
  min-height: 373px;

  outline: 1px solid @border;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 334px;

    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 316px;
    min-height: 659px;
    margin: 0 auto;
    justify-content: start;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__box {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 197px;
    box-sizing: border-box;
  }
}

.catalog__box--inform {
  @media (min-width: @tablet-width) {
    padding-top: 28px;
  }
}

.catalog__link-images {
  display: block;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog__link {
  display: block;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__title {
  margin: 0 0 6px;

  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 4px;
  }
}

.catalog__subtitle {
  padding-bottom: 15px;

  font-size: 13px;
  line-height: 30px;
  color: @darklight;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.catalog__buy {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 28px;

  @media (min-width: @tablet-width) {
    padding: 13px 33px;
  }

  @media (min-width: @desktop-width) {
    margin-top: auto;

    padding: 11px 28px;
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 30px;
    right: 30px;
    content: "";

    height: 1px;

    background-color: @border;

    @media (min-width: @desktop-width) {
      top: -3px;
    }
  }
}

.catalog__description {
  padding: 0 28px;

  @media (min-width: @tablet-width) {
    padding: 0 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px 0 28px;
  }
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog__images {
  min-width: 260px;
  min-height: 195px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__button {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(15px, -5px);

  &:hover > .catalog__icon {
    fill: @skyblue;
    opacity: 1;
  }

  &:active > .catalog__icon {
    fill: @skyblue;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    transform: translate(11px, -4px);
  }
}

.catalog__icon {
  opacity: 0.2;
}

.catalog__link-dubl {
  text-decoration: none;
  color: inherit;
}
