.category {
  background-color: #f8f8f8;
}

.category__list {
  @media (min-width: @tablet-width) {
    .config-size-and-position();

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0 50px;
  }
}

.category__item {
  display: flex;
  align-items: flex-start;
  padding: 28px 30px;
  box-sizing: border-box;
  transition: all 0.2s linear;

  &:hover {
    margin-top: -5px;
    padding-bottom: calc(28px + 5px);
  }

  &:nth-child(1n) {
    background-color: @skyblue;
  }

  &:nth-child(2n) {
    background-color: @skyblue-d;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    min-width: 334px;
    padding: 35px 30px;

    &:hover {
      padding-bottom: calc(35px + 5px);
    }

    &:nth-child(3n) {
      background-color: @skyblue-d;
    }

    &:nth-child(4n) {
      background-color: @skyblue;
    }
  }
}

.category__item-title {
  position: relative;

  width: 100%;
  padding-right: 70px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.category__item-title::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";

  width: 50px;
  height: 50px;

  background-color: #149080;
  transition: all 0.2s linear;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}
