.intro {
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;

  background-color: #f1f1f1;

  min-height: 177px;

  @media (min-width: @tablet-width) {
    min-height: 159px;
    align-items: inherit;
  }

  @media (min-width: @desktop-width) {
    padding: 34px;
    min-height: 190px;
  }
}

.intro-main {
  display: block;
  padding: 72px 30px 30px;
  box-sizing: border-box;
  min-height: 281px;

  background-color: #f8f8f8;
  background-size: @mobile-width;
  background-image: url("../img/background-img/intro-mobile@1x.jpg");
  background-position: center top -18px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-img/intro-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding: 87px 50px 50px;
    min-height: 559px;

    background-size: @tablet-width;
    background-image: url("../img/background-img/intro-tablet@1x.jpg");
    background-position: center top -68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-img/intro-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 92px;
  }
}

.intro__title {
  margin: 0 auto;
  max-width: 400px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 668px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 55px;
  }
}
