.main-nav {
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: static;

    display: grid;
    grid-template-columns: minmax(50px, auto) minmax(320px, 384px) 100px minmax(248px, 316px) minmax(50px, auto);
    grid-template-areas:
      " blockL block1 block4 block4 blockR "
      " . block2 block2 block5 . ";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: minmax(50px, auto) minmax(405px, 485px) 180px minmax(405px, 485px) minmax(50px, auto);
    grid-template-areas:
      " blockL block2 block1 block4 blockR "
      " . block3 block3 block5 . ";
  }
}

.main-nav__list {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    background-color: inherit;
  }
}

.main-nav__mobile-closed .main-nav__list-mobile {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav__control {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;

  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    border: none;

    justify-content: flex-start;
  }
}

.main-nav__block1 {
  @media (min-width: @tablet-width) {
    grid-area: block1;

    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.main-nav__block2 {
  @media (min-width: @tablet-width) {
    grid-area: block2;
    display: flex;
    margin-left: -10px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -30px;

    background-color: #ffffff;
  }
}

.main-nav__block3 {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;

    grid-area: block3;

    margin-left: -10px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -30px;
  }
}

.main-nav__block4 {
  @media (min-width: @tablet-width) {
    grid-area: block4;

    display: flex;
    justify-content: flex-end;
    margin-right: -30px;

    background-color: #ffffff;
  }
}

.main-nav__block5 {
  display: none;

  @media (min-width: @tablet-width) {
    grid-area: block5;
    display: flex;

    justify-content: flex-end;
  }
}

.main-nav__color {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

.main-nav__blockR,
.main-nav__blockL,
.main-nav__blockC {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav__logo-img {
  display: block;

  @media (min-width: @tablet-width) {
    width: 114px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__list-item {
  display: flex;
  align-items: center;
  max-width: 320px;
  min-height: 80px;
  margin: 0 auto;

  font-weight: 700;
  line-height: 24px;

  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    width: 167px;
    min-height: 68px;
    margin: 0;

    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 218px;
    min-width: inherit;
  }
}

.main-nav__block2 .main-nav__list-item {
  @media (min-width: @tablet-width) {
    margin-left: 0;
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: inherit;
    border-right: 1px solid @border;

    &:nth-child(2n) {
      border: none;
    }
  }
}

.main-nav__block3 .main-nav__list-item {
  @media (min-width: @desktop-width) {
    font-size: 15px;

    margin-left: 0;
  }
}

.main-nav__block4 .main-nav__list-item {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-nav__list-link {
  position: relative;

  padding: 20px 20px 20px 76px;
  box-sizing: border-box;
  min-height: 24px;
  width: 100%;

  text-decoration: none;
  color: #000000;

  @media (min-width: @tablet-width) {
    padding: 20px 10px;

    width: inherit;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 30px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    & > .main-nav__list-icon {
      fill: @skyblue;
      opacity: 1;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    & > .main-nav__list-icon {
      opacity: 0.3;
    }
  }
}

.main-nav__list-item--search .main-nav__list-link {
  @media (min-width: @tablet-width) {
    display: block;
    width: 80px;
    height: 65px;
  }
}

.main-nav__list-item--buy .main-nav__list-link {
  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }
}

.main-nav__list-icon {
  position: absolute;
  left: 41px;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.2;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav__toggle--open {
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
    width: 28px;
    left: 5px;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__inform-text {
  padding: 22px 0;
  font-size: 15px;
  line-height: 24px;
  text-align: right;

  color: #444444;
}

.main-nav__text-search {
  @media (min-width: @tablet-width) {
    .hidden ();
  }
}

.main-nav__list-item--search {
  @media (min-width: @tablet-width) {
    border-left: 1px solid @border;
    min-width: 80px;
    width: 80px;
  }
}

.main-nav__list-item--buy {
  @media (min-width: @tablet-width) {
    border-left: 1px solid @border;

    width: 296px;
  }
}

.main-nav__logo-link {
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
