.page-footer {
  background-color: #f1f1f1;
}

.page-footer__box {
  .config-size-and-position();
  width: 100%;
  min-height: 160px;

  @media (min-width: @tablet-width) {
    display: flex;
    min-height: 143px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }
}

.page-footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  max-width: 900px;
  align-items: center;
  min-height: 80px;

  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 30%;
    border-bottom: 0;
  }
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__item--logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.page-footer__item--copyright {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.page-footer__social-item {
  margin: 2px;
}

.page-footer__icon {
  transition: all 0.1s linear;
}

.page-footer__link {
  display: flex;
  align-items: center;

  &:hover > .page-footer__icon {
    fill: @skyblue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__item--logo .page-footer__link {
  padding: 15px 0;
}

.page-footer__item--social .page-footer__link {
  padding: 20px 10px;
}

.page-footer__item--copyright .page-footer__link {
  padding: 20px 0;

  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 35px;
}

.page-footer__copyright-title {
  margin-right: 27px;
}
