.page-footer {
  background-color: #f1f1f1;
}

.page-footer__box {
  .config-size-and-position();
  width: 100%;
  min-height: 160px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    min-height: 143px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    grid-template-columns: 35% 30% 30%;
  }
}

.page-footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 30px;
  min-height: 80px;

  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-start;

    margin: 0;
    padding-bottom: 10px;

    border-bottom: 0;
  }
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 1px;
  }
}

.page-footer__item--logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.page-footer__item--copyright {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.page-footer__social-item {
  margin: 2px;
}

.page-footer__icon {
  transition: all 0.1s linear;
}

.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover > .page-footer__icon {
    fill: @skyblue;
  }

  &:hover > .page-footer__icon--copyright {
    fill: @skyblue-d;
  }

  &:active > .page-footer__icon {
    opacity: 0.3;
  }
}

.page-footer__icon--copyright {
  fill: @skyblue;
}

.page-footer__item--logo .page-footer__link {
  padding: 22px 0 12px;
}

.page-footer__item--social .page-footer__link {
  padding: 10px;

  width: 35px;
  height: 35px;
}

.page-footer__item--copyright .page-footer__link {
  padding: 20px 0;

  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 35px;
}

.page-footer__copyright-title {
  font-size: 19px;
  line-height: 18px;

  margin-right: 27px;

  @media (min-width: @desktop-width) {
    margin-right: 30px;
  }
}
