.button {
  display: block;
  width: 100%;
  max-width: 260px;
  padding: 16px 0;
  margin: 0 auto;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: @darklight;

  background-color: transparent;
  border: 2px solid @darklight;
}

.button--catalog {
  width: 50px;
  height: 50px;
  margin: 0;

  border: 1px solid @skyblue;
}

.button--making {
  width: 192px;

  @media (min-width: @tablet-width) {
    max-width: 584px;
    width: 100%;
  }
}

.button--review {
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 175px;
    top: 83px;
    right: 50px;
  }
}

.button--order {
  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0 20px 0 0;
    order: -1;
  }
}

.button--contacts {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
