.decoration-fill {
  position: relative;

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      content: "";

      height: 25px;

      background-image: url("../img/decoration/zigzag-fill.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      bottom: -18px;

      height: 34px;
    }
  }
}

.decoration-line {
  position: relative;

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -70px;
      content: "";

      height: 17px;

      background-image: url("../img/decoration/zigzag-line.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      height: 23px;
    }
  }
}
