.intro {
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;

  background-color: #f1f1f1;
  min-height: 177px;
}

.intro-main {
  padding: 73px 30px 120px;
  box-sizing: border-box;
  margin-bottom: -68px;
  min-height: 356px;

  background-color: #f8f8f8;
  background-image: url("../img/intro/intro-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  margin: 0 auto;
  max-width: 400px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.intro-catalog {
  margin-bottom: 30px;
}

.intro-order {
  margin-bottom: 17px;
}
