// Основной цвет
@skyblue: #63d1bb;
// Альтернативный цвет
@skyblue-d: #56c3b2;
// Цвет бордера
@border: #ececec;
// Бледный черный цвет для альтернативного текста и бордера кнопок
@darklight: #444444;

// Размеры окон мобилки
@mobile-width: 320px;
@mobile-max-width: 500px;
@mobile-width-only: 767px;

// Размеры окон планшета
@tablet-width: 768px;
@tablet-max-width: 900px;
@tablet-width-only: 1149px;

// Размеры окон десктопа
@desktop-width: 1150px;
@desktop-max-width: 1650px;

.config-size-and-position() {
  margin-left: auto;
  margin-right: auto;
  max-width: @mobile-max-width;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: @tablet-max-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-max-width;
  }
}

.style-common() {
  margin: 0;
  padding: 0;
}

.hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.padding() {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.padding--l-mod() {
  @media (min-width: @desktop-width) {
    padding-left: 225px;
  }
}

.padding--r-mod() {
  @media (min-width: @desktop-width) {
    padding-right: 225px;
  }
}

.making-box-padding() {
  padding-left: 80px;
  padding-right: 57px;
}
