// Отступ на главной странице между блоками
.page-main__category {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.page-main__promo {
  margin-bottom: 73px;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 98px;
  }
}

.page-main__about {
  margin-bottom: 56px;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.page-main__review {
  margin-bottom: 80px;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }
}

.page-main__contacts {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

// Отступ на странице каталог между блоками
.page-main__intro {
  margin-bottom: 30px;
}

.page-main__catalog {
  margin-bottom: 30px;
}

.page-main__making {
  margin-bottom: 58px;
}

// Отступ на странице заказа между блоками
.page-main__order {
  margin-bottom: 60px;
}
